<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include "navbar.html" %}

        <h1>About our official</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias similique suscipit atque porro eveniet eos nemo quos deleniti expedita! Accusantium incidunt reprehenderit quasi veniam! Voluptatibus nisi eveniet unde atque aut, asperiores minima dolores magnam tenetur vero adipisci fuga, reprehenderit iusto ratione suscipit esse rem! Excepturi, eum. Perspiciatis, vitae officiis.</p>
        <button>Contact Us</button>
    </div>
</body>
</html>